name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - run: pip install -r requirements.txt
      - run: pytest || echo "No tests yet"

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
       - name: Checkout code
         uses: actions/checkout@v3

       - name: Authenticate to GCP
         uses: google-github-actions/auth@v1
         with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

       - name: Set up Cloud SDK
         uses: google-github-actions/setup-gcloud@v1
         with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

       - name: Build and Push Docker Image
         run: |
          gcloud builds submit --tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/ci-cd-demo

       - name: Deploy to Cloud Run
         run: |
           gcloud run deploy ci-cd-demo \
            --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/ci-cd-demo \
            --region us-central1 \
            --allow-unauthenticated

